<div class="tab-nav">
  <ul class="tabs col-md-12">
    <a [routerLink]="['homepage']" routerLinkActive="active">
      <li class="tab col-md-1">
        <p><i class="fa fa-file-o"></i> homepage</p>
      </li>
    </a>
    <a [routerLink]="['about']" routerLinkActive="active">
      <li class="tab col-md-1">
        <p><i class="fa fa-file-o"></i> about</p>
      </li>
    </a>
    <a [routerLink]="['repertoire']" routerLinkActive="active">
      <li class="tab col-md-1">
        <p><i class="fa fa-file-o"></i> repertoire</p>
      </li>
    </a>
  </ul>
  <div class="ellipsis">
    <i class="fa fa-ellipsis-h"></i>
  </div>
</div>
