<div class="about col-md-12">
  <div class="row">
    <h1>SeanVillagracia<span class="key">.</span>about<span class="key"> = </span><span class="string">`</span></h1>
  </div>
  <div class="row">
    <p class="bio col-md-9">
       I am an entreprenuer, web, and software developer with a passion for learning and building beautiful, scalable, and maintainable products.
      Curiosity and the desire to understand code from a high level down to the nuances is what drives me as I build every product
      that I work on. I believe that meaningful collaboration and constant iteration are keys to innovation. For every line I write,
      I always ask, "How can this be better?" It is often a struggle, but the rewarding feeling of finding that answer and being
      a better developer for it is what keeps me moving forward.
    </p>
  </div>
  <div class="row">
    <p class="bio col-md-9">
      Previous to a my career in technology I was in food service and retail for thirteen years with a three year stint in financial sales.
      I love working with people just as much as I do writing code and developing applications. Recently, I have begun to work with
      voice user interfaces, artificial intelligence, and have also begun to study the blockchain. Establishing my own business last year and being
      self employed has truly grown my hunger to learn more and continue to develop myself in my career and personally.
    </p>
  </div>
  <div class="row">
    <p class="bio col-md-9">
      When I am not writing code or building my business, you can find me doing a multitude of different things (whenever I manage to find the time)
      from hiking in the High Sierras, riding my single speed around town, reading, making my way down a wiki rabbit hole, cooking (along with eating),
      being a fashion nerd, attempting to get back into powerlifting, and hanging out with my dog, L&uuml;dwig.
    </p>
  </div>
  <div class="row">
    <h1><span class="string">`</span>;</h1>
  </div>
</div>
