<div class="row">
  <div class="col-md-3 icons">
    <ul>
      <li class="files">
        <i class="fa fa-files-o"></i>
      </li>
      <li>
        <i class="fa fa-search"></i>
      </li>
      <li>
        <i class="fa fa-code-fork"></i>
      </li>
      <li>
        <i class="fa fa-bug"></i>
      </li>
    </ul>
  </div>
  <div class="col-md-9 sidebar">
    <div class="explorer">
      <p>EXPLORER</p>
    </div>
    <div class="root">
      <p class="folder" (click)="editors = !editors">
        <i *ngIf="!editors" class="fa fa-caret-right"></i><i *ngIf="editors" class="fa fa-caret-down"></i> OPEN EDITORS
      </p>
    </div>
    <ul *ngIf="editors">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngFor="let link of links">
        <a [routerLink]="link.url">
          <p>
            <i class="fa fa-file-o"></i> {{ truncateString(link.name) }}
          </p>
        </a>
    </ul>
    <div class="root" (click)="openRoot = !openRoot">
      <p class="folder">
        <i *ngIf="!openRoot" class="fa fa-caret-right"></i><i *ngIf="openRoot" class="fa fa-caret-down"></i> SVILLAGRACIA.COM
      </p>
    </div>
    <ul *ngIf="openRoot">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="openEditor({ url: 'homepage', name: 'homepage.component.html', tab: 'homepage' })">
        <a [routerLink]="['homepage']">
          <p><i class="fa fa-file-o"></i> homepage.comp...</p>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="openEditor({ url: 'about', name: 'about.component.html', tab: 'about' })">
        <a [routerLink]="['about']">
          <p><i class="fa fa-file-o"></i> about.compone...</p>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="openEditor({ url: 'repertoire', name: 'repertoire.component.html', tab: 'repertoire' })">
        <a [routerLink]="['repertoire']">
          <p><i class="fa fa-file-o"></i> repertoire.co...</p>
        </a>
      </li>
      <li class="projects" (click)="projects = !projects">
        <p>
          <i *ngIf="!projects" class="fa fa-caret-right"></i><i *ngIf="projects" class="fa fa-caret-down"></i>
          <i *ngIf="!projects" class="fa fa-folder-o"></i><i *ngIf="projects" class="fa fa-folder-open-o"></i> projects
        </p>
      </li>
      <ul *ngIf="projects" class="project-list">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="openEditor({ url: 'projects', name: 'projects.component.html', tab: 'projects' })">
          <a [routerLink]="['projects']">
            <p><i class="fa fa-file-o"></i> projects.co...</p>
          </a>
        </li>
        <li>
          <a href="">
            <p><i class="fa fa-file-o"></i> Plymouth-Le...</p>
          </a>
        </li>
        <li>
          <a href="">
            <p><i class="fa fa-file-o"></i> nomadic-admin</p>
          </a>
        </li>
        <li>
          <a href="">
            <p><i class="fa fa-file-o"></i> alaska-infl...</p>
          </a>
        </li>
        <li>
          <a href="">
            <p><i class="fa fa-file-o"></i> alaska-styl...</p>
          </a>
        </li>
        <li>
          <a href="">
            <p><i class="fa fa-file-o"></i> MicrosoftCy...</p>
          </a>
        </li>
      </ul>
      <li>
        <a href="../../assets/downloads/Sean_Villagracia_01-2018.pdf" target="blank">
          <p><i class="fa fa-file-o"></i> resum&eacute;.pdf</p>
        </a>
      </li>
    </ul>
    <div class="copy">
      <app-footer></app-footer>
    </div>
  </div>
</div>
