<div class="home row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5 col-md-offset-3 typewriter name">
        <h1><span class="dec">declare global</span><span class="glo"> SeanVillagracia </span>&#123;&#125;</h1>
        <div class="pic">
          <img src="../../assets/images/face2.jpg" alt="">
        </div>
        <div class="descriptors">
          <h3>
            <span class="dec">const </span>
            <span class="var">developer </span>
            <span class="eq">= </span>
            <span class="bool">true</span><span class="var">;</span>
          </h3>
          <h3>
            <span class="dec">const </span>
            <span class="var">entrepreneur </span>
            <span class="eq">= </span>
            <span class="bool">true</span><span class="var">;</span>
          </h3>
          <h3>
            <span class="dec">const </span>
            <span class="var">residence </span>
            <span class="eq">= </span>
            <span class="string">'Sacramento, CA'</span><span class="var">;</span>
          </h3>
          <h3>
            <span class="dec">const </span>
            <span class="var">hikerTrash </span>
            <span class="eq">= </span>
            <span class="bool">true</span><span class="var">;</span>
          </h3>
          <h3>
            <span class="dec">const </span>
            <span class="var">availableForHire </span>
            <span class="eq">= </span>
            <span class="bool">true</span><span class="var">;</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
